<section class="main-header">
  <section class: 'about container-fluid'>
    <h1>新しいコミュニティ、新しい仲間を見つけよう</h1>
    <section class: 'top_image'>
      <img src="<%= asset_path "benkyo.jpg" %>">
    </section>
  </section>
</section>
